/*500 / 375 = 1.3333 */
body{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    position: fixed;
    margin: 13px;
    padding: 0;
}

#navLogo{
    width: 230px;
}

#menuButton{
    width: 52px;
    margin-bottom: 8px;
}

/* fix colorbar*/
#homeIntroBoarder{
    background-image:url('../img/Colorbar\ \(2\).png');
    background-size: cover;
    background-position:center;
    text-align: center;
    height: 492px;
    top: 20px;
}

.headerBoarder h1{ 
    display: inline-block;
    background-color: #191919;

    position: relative;
    top:160px;
    width:403px; 
    height: 101px;
    margin: 0 auto;


    font-style: normal;
    font-weight: lighter;
    font-size: 70px;
    line-height: 100px;
    text-align: center;

    color: #FFFFFF;
    
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
}














































.Hscrollimg{
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

#homeSkVideo{
    width: 280px;
    height: 160px;
    left: 84px;
    top: 1961px;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Window{
    width: 256px;
    height: 169px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textWindow{
    text-align: justify;
}

#scrollingImgs{
    width: 375px;
    height: 160px;
    left: 0px;
    top: 1268px;
    overflow-x: scroll;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p{
    width: 245px;
    height: 160px;
    left: 27px;
    top: 1890px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #272727;
}

.projectHeader{
    left: -264.71%;
    right: 307.35%;
    top: 154.63%;
    bottom: -126.85%;
    font-style: normal;
    font-weight: normal;
    font-size: 95px;
    line-height: 119px;
    color: #000000;
}

.windowHeader{
    width: 256px;
    height: 21px;
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
}